
<div class="container card" id="<%= dom_id boeuf %>" >


  <img class="img_boeuf" src="<%= boeuf.image %>" alt="">
  <!-- Première partie de la carte recette avec le temps, la difficulté et le nombre de Kcal-->
  <div class="container intro">
    <div class="icone">
      <img src="https://cdn-icons-png.flaticon.com/512/3003/3003126.png" alt="icone timer">
      <h5>
        <strong><%= boeuf.duration %>min</strong>
      </h5>
      <p>
        Durée
      </p>
    </div>
    <div class="icone">
      <img src="https://cdn-icons-png.flaticon.com/512/3003/3003126.png" alt="icone timer">
      <div class="indic">
        <h5>
          <strong><%= boeuf.difficult %></strong>
        </h5>
        <p>
          Difficulté
        </p>
      </div>
    </div>
    <div class="icone">
      <img src="https://cdn-icons-png.flaticon.com/512/3003/3003126.png" alt="icone timer">
      <h5>
        <strong><%= boeuf.kcal %></strong>
      </h5>
      <p>
        Kcal
      </p>
    </div>
  </div>

  <h2 class="container">
    <strong><%= boeuf.name %></strong>
  </h2>

  <p class="container">
    <%= boeuf.description %>
  </p>
  <!--Partie valeur nutritionnelles de la recette-->
  <div class="container nutrition_value">
    <h3>Informations nutritionnelles</h3>
    <div class="nutrition">
      <p>
        <strong>Glucides:</strong>
      </p>
      <p>
        <%= boeuf.carbohydrates %>g
      </p>
    </div>
    <div class="nutrition"> 
      <p>
        <strong>Protéines:</strong>
      </p>
      <p>
        <%= boeuf.proteins %>g
      </p>
    </div>
    <div class="nutrition">
      <p>
        <strong>Lipides:</strong>
      </p>
      <p>
        <%= boeuf.lipids %>g
      </p>
    </div>
  </div>

  <!-- Partie ingrédient-->
  <div class="container">
    <div class="ingredients">
      <p>
        <strong><%= boeuf.ingredient %></strong>
      </p>

      <p>
        <%= boeuf.quantity %>g
      </p>
    </div>

    <div class="steps">
      <p>
        <strong><%= boeuf.step %></strong>
      </p>

      <p>
        <%= boeuf.step_description %>
      </p>
    </div>
  </div>

</div>
