<!-- Header -->
<div class="container-flouid">
  <nav class="navbar navbar-expand-lg bg-light">
    <div class="container">
      <a class="navbar-brand" href="/">
        <h3>Your Logo</h3>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Member</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="#">Courses</a>
          </li>

          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Blog</a>
          </li>

          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Event</a>
          </li>

        </ul>
        <form class="">
          <a class="btn btn-outline-primary mr-2" href="#">Login</a>
          <a class="btn btn-outline-success" href="#">Become member</a>
        </form>

      </div>
    </div>
  </nav>
</div>        

<div class="container " id="<%= dom_id boeuf %>">


  <img src="<%= boeuf.image %>" alt="">

  <p>
    <strong>Duration:</strong>
    <%= boeuf.duration %>min
  </p>

  <p>
    <strong>Difficult:</strong>
    <%= boeuf.difficult %>
  </p>

  <p>
    <strong>Kcal:</strong>
    <%= boeuf.kcal %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= boeuf.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= boeuf.description %>
  </p>

  <p>
    <strong>Carbohydrates:</strong>
    <%= boeuf.carbohydrates %>g
  </p>

  <p>
    <strong>Proteins:</strong>
    <%= boeuf.proteins %>g
  </p>

  <p>
    <strong>Lipids:</strong>
    <%= boeuf.lipids %>g
  </p>

  <p>
    <strong>Ingredient:</strong>
    <%= boeuf.ingredient %>
  </p>

  <p>
    <strong>Quantity:</strong>
    <%= boeuf.quantity %>g
  </p>

  <p>
    <strong>Step:</strong>
    <%= boeuf.step %>
  </p>

  <p>
    <strong>Step description:</strong>
    <%= boeuf.step_description %>
  </p>

</div>
