
<div class="container card" id="<%= dom_id boeuf %>" >


  <img class="img_boeuf" src="<%= boeuf.image %>" alt="">
  <!-- Première partie de la carte recette avec le temps, la difficulté et le nombre de Kcal-->
  <div class="container intro">
    <div class="icone">
      <img src="https://cdn-icons-png.flaticon.com/512/27/27133.png" alt="icone timer">
      <h5>
        <strong><%= boeuf.duration %>min</strong>
      </h5>
      <p>
        Durée
      </p>
    </div>
    <div class="icone">
      <img src="https://cdn-icons-png.flaticon.com/512/65/65061.png" alt="icone timer">
      <div class="indic">
        <h5>
          <strong><%= boeuf.difficult %></strong>
        </h5>
        <p>
          Difficulté
        </p>
      </div>
    </div>
    <div class="icone">
      <img src="https://static.thenounproject.com/png/1166850-200.png" alt="icone timer">
      <h5>
        <strong><%= boeuf.kcal %></strong>
      </h5>
      <p>
        Kcal
      </p>
    </div>
  </div>

  <h2 class="container">
    <strong><%= boeuf.name %></strong>
  </h2>

  <p class="container">
    <%= boeuf.description %>
  </p>
  <!--Partie valeur nutritionnelles de la recette-->
  <div class="container nutrition_value">
    <h3>Informations nutritionnelles</h3>
    <div class="nutrition">
      <p>
        <strong>Glucides:</strong>
      </p>
      <p>
        <%= boeuf.carbohydrates %>g
      </p>
    </div>
    <div class="nutrition"> 
      <p>
        <strong>Protéines:</strong>
      </p>
      <p>
        <%= boeuf.proteins %>g
      </p>
    </div>
    <div class="nutrition">
      <p>
        <strong>Lipides:</strong>
      </p>
      <p>
        <%= boeuf.lipids %>g
      </p>
    </div>
  </div>

  <!-- Partie ingrédient-->
  <% if boeuf.ingredient.present? %>
  <div class="container">
    <div class="ingredients">
      <p>
        <strong><%= boeuf.ingredient %></strong>
      </p>

      <p>
        <%= boeuf.quantity %>
      </p>
    </div>
    <% end %>

    <% if boeuf.ingredient2.present? %>
    <div class="ingredients">
      <p>
        <strong><%= boeuf.ingredient2 %></strong>
      </p>

      <p>
        <%= boeuf.quantity2 %>
      </p>
    </div>
    <% end %>

    <% if boeuf.ingredient3.present? %>
    <div class="ingredients">
      <p>
        <strong><%= boeuf.ingredient3 %></strong>
      </p>

      <p>
        <%= boeuf.quantity3 %>
      </p>
    </div>
    <% end%>

    <% if boeuf.ingredient4.present? %>
      <div class="ingredients">
        <p>
          <strong><%= boeuf.ingredient4 %></strong>
        </p>

        <p>
          <%= boeuf.quantity4 %>
        </p>
      </div>
    <% end%>

    <% if boeuf.ingredient5.present? %>
      <div class="ingredients">
        <p>
          <strong><%= boeuf.ingredient5 %></strong>
        </p>

        <p>
          <%= boeuf.quantity5 %>
        </p>
      </div>
    <% end%>

    <% if boeuf.ingredient6.present? %>
      <div class="ingredients">
        <p>
          <strong><%= boeuf.ingredient6 %></strong>
        </p>

        <p>
          <%= boeuf.quantity6 %>
        </p>
      </div>
    <% end %>

    <% if boeuf.ingredient7.present? %>
    <div class="ingredients">
      <p>
        <strong><%= boeuf.ingredient7 %></strong>
      </p>

      <p>
        <%= boeuf.quantity7 %>
      </p>
    </div>
    <% end %>

    <% if boeuf.ingredient8.present? %>
    <div class="ingredients">
      <p>
        <strong><%= boeuf.ingredient8 %></strong>
      </p>

      <p>
        <%= boeuf.quantity8 %>
      </p>
    </div>
    <% end %>

    <% if boeuf.ingredient9.present? %>
    <div class="ingredients">
      <p>
        <strong><%= boeuf.ingredient9 %></strong>
      </p>

      <p>
        <%= boeuf.quantity9 %>
      </p>
    </div>
    <% end %>

    <% if boeuf.step_description.present? %>
    <div class="steps">
      <h5><strong>Etape </strong><h5>
      <p>
        <%= boeuf.step_description %>
      </p>
    </div>
    <% end %>

    <% if boeuf.step2.present? %>
    <div class="steps">
      <p>
        <%= boeuf.step2 %>
      </p>
    </div>
    <% end %>

    <% if boeuf.step3.present? %>
    <div class="steps">
      <p>
        <%= boeuf.step3 %>
      </p>
    </div>
    <% end %>

    <% if boeuf.step4.present? %>
    <div class="steps">
      <p>
        <%= boeuf.step4 %>
      </p>
    </div>
    <% end %>

    <% if boeuf.step5.present? %>
    <div class="steps">
      <p>
        <%= boeuf.step5 %>
      </p>
    </div>
    <% end %>

    <% if boeuf.step6.present? %>
    <div class="steps">
      <p>
        <%= boeuf.step6 %>
      </p>
    </div>
    <% end %>

    <% if boeuf.step7.present? %>
    <div class="steps">
      <p>
        <%= boeuf.step7 %>
      </p>
    </div>
    <% end %>

    <% if boeuf.step8.present? %>
    <div class="steps">
      <p>
        <%= boeuf.step8 %>
      </p>
    </div>
    <% end %>

    <% if boeuf.step9.present? %>
    <div class="steps">
      <p>
        <%= boeuf.step9 %>
      </p>
    </div>
    <% end %>
  </div>

</div>
