

<div id="<%= dom_id boeuf %>">


  <img src="<%= boeuf.image %>" alt="">

  <p>
    <strong>Duration:</strong>
    <%= boeuf.duration %>min
  </p>

  <p>
    <strong>Difficult:</strong>
    <%= boeuf.difficult %>
  </p>

  <p>
    <strong>Kcal:</strong>
    <%= boeuf.kcal %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= boeuf.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= boeuf.description %>
  </p>

  <p>
    <strong>Carbohydrates:</strong>
    <%= boeuf.carbohydrates %>g
  </p>

  <p>
    <strong>Proteins:</strong>
    <%= boeuf.proteins %>g
  </p>

  <p>
    <strong>Lipids:</strong>
    <%= boeuf.lipids %>g
  </p>

  <p>
    <strong>Ingredient:</strong>
    <%= boeuf.ingredient %>
  </p>

  <p>
    <strong>Quantity:</strong>
    <%= boeuf.quantity %>g
  </p>

  <p>
    <strong>Step:</strong>
    <%= boeuf.step %>
  </p>

  <p>
    <strong>Step description:</strong>
    <%= boeuf.step_description %>
  </p>

</div>
