<%= form_with(model: boeuf) do |form| %>
  <% if boeuf.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(boeuf.errors.count, "error") %> prohibited this boeuf from being saved:</h2>

      <ul>
        <% boeuf.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :image, style: "display: block" %>
    <%= form.text_area :image %>
  </div>

  <div>
    <%= form.label :durée, style: "display: block" %>
    <%= form.number_field :duration %>
  </div>

  <div>
    <%= form.label :difficulté, style: "display: block" %>
    <%= form.text_field :difficult %>
  </div>

  <div>
    <%= form.label :kcal, style: "display: block" %>
    <%= form.number_field :kcal %>
  </div>

  <div>
    <%= form.label :nom, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :description, style: "display: block" %>
    <%= form.text_area :description %>
  </div>

  <div>
    <%= form.label :glucides, style: "display: block" %>
    <%= form.text_field :carbohydrates %>
  </div>

  <div>
    <%= form.label :protéines, style: "display: block" %>
    <%= form.text_field :proteins %>
  </div>

  <div>
    <%= form.label :lipides, style: "display: block" %>
    <%= form.text_field :lipids %>
  </div>

  <div>
    <%= form.label :ingrédient1, style: "display: block" %>
    <%= form.text_field :ingredient %>
  </div>

  <div>
    <%= form.label :quantité1, style: "display: block" %>
    <%= form.text_field :quantity %>
  </div>

  <div>
    <%= form.label :ingrédient2, style: "display: block" %>
    <%= form.text_field :ingredient2 %>
  </div>

  <div>
    <%= form.label :quantité2, style: "display: block" %>
    <%= form.text_field :quantity2 %>
  </div>

  <div>
    <%= form.label :ingrédient3, style: "display: block" %>
    <%= form.text_field :ingredient3 %>
  </div>

  <div>
    <%= form.label :quantité3, style: "display: block" %>
    <%= form.text_field :quantity3 %>
  </div>

  <div>
    <%= form.label :ingrédient4, style: "display: block" %>
    <%= form.text_field :ingredient4 %>
  </div>

  <div>
    <%= form.label :quantité4, style: "display: block" %>
    <%= form.text_field :quantity4 %>
  </div>

  <div>
    <%= form.label :ingrédient5, style: "display: block" %>
    <%= form.text_field :ingredient5 %>
  </div>

  <div>
    <%= form.label :quantité5, style: "display: block" %>
    <%= form.text_field :quantity5 %>
  </div>

  <div>
    <%= form.label :ingrédient6, style: "display: block" %>
    <%= form.text_field :ingredient6 %>
  </div>

  <div>
    <%= form.label :quantité6, style: "display: block" %>
    <%= form.text_field :quantity6 %>
  </div>

  <div>
    <%= form.label :ingrédient7, style: "display: block" %>
    <%= form.text_field :ingredient7 %>
  </div>

  <div>
    <%= form.label :quantité7, style: "display: block" %>
    <%= form.text_field :quantity7 %>
  </div>

  <div>
    <%= form.label :ingrédient8, style: "display: block" %>
    <%= form.text_field :ingredient8 %>
  </div>

  <div>
    <%= form.label :quantité8, style: "display: block" %>
    <%= form.text_field :quantity8 %>
  </div>

  <div>
    <%= form.label :ingrédient9, style: "display: block" %>
    <%= form.text_field :ingredient9 %>
  </div>

  <div>
    <%= form.label :quantité9, style: "display: block" %>
    <%= form.text_field :quantity9 %>
  </div>

  <div>
    <%= form.label :etape1, style: "display: block" %>
    <%= form.text_area :step_description %>
  </div>

  <div>
    <%= form.label :etape2, style: "display: block" %>
    <%= form.text_area :step2 %>
  </div>

  <div>
    <%= form.label :etape3, style: "display: block" %>
    <%= form.text_area :step3 %>
  </div>

  <div>
    <%= form.label :etape4, style: "display: block" %>
    <%= form.text_area :step4 %>
  </div>

  <div>
    <%= form.label :etape5, style: "display: block" %>
    <%= form.text_area :step5 %>
  </div>

  <div>
    <%= form.label :etape6, style: "display: block" %>
    <%= form.text_area :step6 %>
  </div>

  <div>
    <%= form.label :etape7, style: "display: block" %>
    <%= form.text_area :step7 %>
  </div>

  <div>
    <%= form.label :etape8, style: "display: block" %>
    <%= form.text_area :step8 %>
  </div>

  <div>
    <%= form.label :etape9, style: "display: block" %>
    <%= form.text_area :step9 %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
    
</div>
<div id="items">
</div>