

<title>A Propos</title>
<meta name="viewport" content="width=device-width,initial-scale=1">
<%= csrf_meta_tags %>
<%= csp_meta_tag %>
<link rel="stylesheet" href="../../assets/stylesheets/apropos.scss">
<link rel="stylesheet" href="../../assets/stylesheets/application.scss">

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <div class="container box_propos" >
            <img src="../../assets/images/antoine_corberand.webp" alt="image Antoine CORBERAND">
        <div class="para_apropos">
            <h2>
                développeur front junior
            </h2>
            <p>
                Je m’appelle Antoine, étant passionné par le monde du web et dû 
                design. J’ai donc décidé de poursuivre mes études et mon parcours
                professionnel dans ce domaine, actuellement en 1re année de 
                BUT MMI.(Métier du Multimédia et de l’Internet)J’aimerai 
                me diriger vers le métier d’intégrateur web ou développeur 
                Front-End.
            </p>
            <div class="link">
                <a href="https://www.linkedin.com/in/antoine-corberand-49898b294/">
                    <img src="https://cdn-icons-png.flaticon.com/512/61/61109.png" alt="icone linkedin">
                </a>
                <a href="https://antoine-corberand.netlify.app">
                    <img src="https://antoine-corberand.netlify.app/img/ordinateur.svg" alt="icone portfolio">
                </a>
            </div>
        </div>
    </div>

    <div class="container box_propos">
        <div class="img_apropos">
            <img src="../../assets/images/antoine_courcaud.webp" alt="image Antoine COURCAUD">
        </div>
        <div class="para_apropos">
            <h2>
                développeur de visibilité sur les réseaux sociaux
            </h2>
            <p>
                Passionné par le numérique, je suis actuellement en BUT 
                MMI à l’université Bordeaux Montaigne.<br>
                J’ai choisi de suivre cette formation pour 
                gagner en compétences et acquérir de bonnes bases 
                dans les domaines de la création, du développement 
                et de l’analyse de données.<br>Durant cette première année, 
                j’ai participé à de nombreux projets comme l’analyse du compte 
                Instagram d’une chef cuisinière, la refonte d’un site 
                web ou encore la réalisation d’un motion design, 
                tous consultables sur mon Portfolio. <br>Parallèlement 
                à mes études, je développe des comptes Instagram que 
                j’anime et qui me permettent de mettre en place les 
                compétences que j’ai acquises grâce à ma formation. <br>
                À partir de ma deuxième année, 
                je souhaiterais appliquer ces compétences 
                dans le cadre d’une alternance en entreprise qui me permettra 
                de me spécialiser dans le marketing digital. <br>Je suis 
                notamment intéressé par l’optimisation du SEO, la création 
                et l’animation de contenus sur les réseaux sociaux et 
                l’analyse des données web pour optimiser les performances 
                de stratégies marketing. Je suis persuadé que ce sera une 
                opportunité enrichissante.<br>
                Dynamisme et autonomie sont des atouts qui me caractérisent. 
                Je suis également très organisé et efficace dans tout ce que 
                j’entreprends. <br>
                N'hésitez pas à me contacter si vous avez une offre 
                d'alternance à me proposer.
            </p>
            <a href="https://www.linkedin.com/in/antoine-courcaud/">
                <img src="https://cdn-icons-png.flaticon.com/512/61/61109.png" alt="icone linkedin">
            </a>
        </div>
    </div>

    <%= yield %>

</body>


</html>
