<link rel="stylesheet" href="../../stylesheets/application.scss">

<p style="color: green"><%= notice %></p>

<%= render @boeuf %>

<div class="container button_edit">
  <div>
    <a>
      <button class="button_new">
        <strong><%= link_to "Modifier la recette", edit_boeuf_path(@boeuf) %></strong>
      </button>
    </a>
  </div>
  <div class="">
    <a>
      <button class="button_show">
        <strong><%= link_to "Retour", boeufs_path %></strong>
      </button>
    </a>
  </div>
  <a class="button_destroy">
  <%= button_to "Supprimer", @boeuf, method: :delete %>
  </a>
</div>
