<!DOCTYPE html>
<html>
  <head>
    <title>Kcaldata</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
  <header>
    <div class="container-flouid">
      <nav class="navbar navbar-expand-lg bg-light">
        <div class="container menu">
          <a class="navbar-brand" href="/">
            <h3>Your Logo</h3>
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">

            </ul>
            <a class="abonnement" href="#">
            <button>abonner</button>
            </a>

          </form>

          </div>
        </div>
      </nav>
    </div>
  </header>
  <div class="img_header">
    <div class="container text_header">
      <h1>
        <strong>LIBEREZ VOTRE POTENTIEL</strong>
      </h1>
      <p>
        Explorez un monde de saveurs tout en atteignant vos objectifs grâce à des recettes adaptées
      </p>
    </div>
    <img src="https://s3-alpha-sig.figma.com/img/9a1f/7b30/28624149ade00fab2b539d7630041700?Expires=1709510400&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=d-fAxOv~VeYBvrAzTPWYsIiblu4x767qKqXQuo9XnGvn5SRt~lRD-XKCU8g~RqDdVsVbSvzh0xeFOC37DG2KBjHdag2eBOFdm0wksu~IyWCqNG~qhwyKcRkPJ5b5WwrpLOJZ9LUtOTsdtE40i4KBcvqnI9ilt5iLVHilfOJJHdaQ5ZTtXkmIhFAaSOoCluvFA0LW4JbL4s9g5j3a-Yk4ApzccpCDb4BmzI60FBHC37Md-B54YtG6-EuvqQwXhP3tfGiYy5x696tpY8GFD9OFZ8ZpiApVH39Y83w0RpZ~WQYWFz6J9vkX~ejp1nDLbtBXPkubQNttIRquBc7cqKIENg__" alt="image header">
  </div>

  <div>
    <p class="text-recette">
      Choisis ta recette
    </p>
    <p class="descriptif-top">
      Avec notre collection de recettes variées, nous avons de quoi satisfaire tous vos objectifs.
    <p>

  </div>


    <%= yield %>


<footer id="footer">
<%= image_tag("Group.svg") %>
  <p class="text-logo">
    Kcal Data
  </p>
  <p>
    <ul class="links">
      <li><a href="apropos.html">A propos</a></li>
      <li><a href="application.html">Accueil</a></li>
    </ul>
  </p>
  <div class="social-icons">
    <%= image_tag("tiktok.svg") %>
    <%= image_tag("facebook.svg") %>
    <%= image_tag("instagram.svg") %>
    <%= image_tag("youtube.svg") %>
  </div>
  <p class="copyright">
    © 2024 Kcal Data.
  </p>

</footer>

</body>
</html>
