<!DOCTYPE html>
<html>
  <head>
    <title>Kcaldata</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
  <header>
    <div class="container-flouid">
      <nav class="navbar navbar-expand-lg bg-light">
        <div class="container menu">
          <a class="navbar-brand" href="/">
            <h3>Your Logo</h3>
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">

            </ul>
            <a class="abonnement" href="#">
            <button>abonner</button>
            </a>

          </form>

          </div>
        </div>
      </nav>
    </div>
  </header>



    <%= yield %>


<footer id="footer">
  <div class="logo_footers">
    <%= image_tag("Group.svg") %>
    <p class="text-logo">
      <strong>Kcal Data<strong>
    </p>
  </div>
  <p>
    <ul class="links">
      <li><a href="apropos.html">A propos</a></li>
      <li><a href="application.html">Accueil</a></li>
    </ul>
  </p>
    <div class="social-icons">
      <%= image_tag("tiktok.svg") %>
      <%= image_tag("facebook.svg") %>
      <%= image_tag("instagram.svg") %>
      <%= image_tag("youtube.svg") %>
    </div>
    <p class="copy_footer">
      © 2024 Kcal Data.
    </p>
</footer>

</body>
</html>
